/*Scrollbars Stylings*/
html{scroll-behavior: smooth; zoom:0.9}

/* Set the width and color of the scrollbar track for Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #12151e transparent;
  } */
  
  /* Hide the scrollbar thumb by default for Firefox */
  /* *::-moz-scrollbar-thumb {
    background-color: transparent;
  } */
  
  /* Show the scrollbar thumb when scrolling starts for Firefox */
  /* *::-moz-scrollbar-thumb:vertical {
    background-color: transparent;
    transition: background-color 0.3s;
  } */
  
  /* Animate the scrollbar thumb when scrolling for Firefox */
  /* *:hover::-moz-scrollbar-thumb:vertical {
    background-color: transparent;
  } */


/*Scrollbars Chrome styles*/
::-webkit-scrollbar{width: 0.15em;}

::-webkit-scrollbar-track{
background-color: transparent;
}
::-webkit-scrollbar-thumb{
background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal{
background-color: transparent;
transition: background-color 2s;
}
:hover::-webkit-scrollbar-thumb:vertical, :hover::-webkit-scrollbar-thumb:horizontal{
background-color: #12151e;
}



